
body {
  --color-dark-gray: hsla(0, 0%, 100%, 0.1);
  --color-background-light: rgb(58, 52, 46);
  --color-background: #262626;
  --color-text: hsl( 129, 31.9%, calc(46.7% + 10%) );
  --border-radius: 0.8rem;
}
/* Make dataviews nicer */
.block-language-dataview.node-insert-event:has(> .dataview.list-view-ul) {
  border: 4px dashed var(--color-background-light);
  border-radius: var(--border-radius);
}

.dataview.list-view-ul {
  margin: 1rem;
}

div.dataview-error-box {
  border-radius: var(--border-radius);
}

.block-language-dataview + .edit-block-button {
  margin: 0.5rem;
}

.cm-preview-code-block.cm-embed-block.markdown-rendered.cm-lang-dataview:hover {
  border-radius: var(--border-radius);
}

/* Make edit view spacing better */
/* spacing after all headers was too tight */
.HyperMD-header-2::after {
    content: "";
    display: block;
    margin-bottom: 0.8rem;
}


/* round popovers */
div.popover {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-background-light);

  .markdown-embed-link {
    margin-top: 1rem;
    margin-right: 0.5rem;
  }
}

/* round metadata popover */
.metadata-container {
  border: 1px solid var(--color-background-light);
  border-radius: var(--border-radius);
  padding: 1rem;
  background: #1F1A18;
}

/* make metadata icons smaller */
.metadata-property-icon svg {
  width: 1rem;
  height: 1rem;
}

/* popover when editing metadata properties */
.suggestion-container.mod-property-value,
.suggestion-container.mod-property-key {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-background-light);

  div {
     border-radius: var(--border-radius);
     border: 1px solid var(--color-background-light);
  }
}

/* remove folder indentation lines */
.nav-folder-children{
  border: 0;
}
.mod-top-left-space {
  background: var(--color-background);
}
.mod-top-left-space .workspace-leaf {
  background: var(--color-background-light);
  border-radius: var(--border-radius);
  overflow: hidden;
  margin: 0.5rem;
  height: calc(100% - 1rem);
  padding: 0.25rem;
  padding-top: 0.5rem;
}

/* Make pinned documents on the side use the correct color */
.mod-top-left-space .cm-scroller, .mod-top-left-space .markdown-preview-view {
  background: var(--color-background-light) !important;
}

.el-pre pre {
  border-radius: var(--border-radius) !important;
  overflow: hidden;
}

/* leftmost action ribbon */
.workspace-ribbon {
  padding-top: 1rem;
  background:var(--color-background);
  border: 0;
  margin: 0.5rem;
}

.workspace-tabs .workspace-tab-header {
  background: var(--color-background) !important;
}

.workspace-leaf-content[data-type="calendar"]  {
  margin-top: -0.6rem;
}

/* calendar */
.workspace-tab-container {
  background: var(--color-background);
}

.workspace-split.mod-left-split .workspace-leaf {
   background: var(--color-background-light);
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: calc(100% - 0.5rem);
    padding: 0.25rem;
    padding-top: 0.5rem;
    border: 1px solid hsla(0, 0%, 100%, 0.05);
}


/* File explorer */
.workspace-sidedock-vault-profile {
  background: var(--color-background) !important;
  border-top: 0 !important;
  padding-top: 0 !important;
  height: 3rem !important;
  /* padding-top: 0.25rem !important; */
}

.workspace-split.mod-left-split .workspace-leaf-resize-handle {
  border: 0;
}

body {
  --file-line-width: 100ch;
}

/* dataviews in reading mode on sidebar control panel */
.mod-top-left-space .markdown-preview-section div.el-pre .node-insert-event {
  background-color: var(--color-background);
}


/* Callout boxes */
.cm-embed-block.markdown-rendered,
.cm-embed-block .markdown-rendered .callout,
.el-div div[data-callout="warning"],
.el-div div[data-callout="info"],
.el-pre .block-language-tasks {
  border-radius: var(--border-radius);
  border: 4px solid var(--color-background-light);
  padding: 1rem;
  padding-top: 1.25rem;
}

.cm-embed-block.cm-callout {
  border-color: hsla(0, 0%, 100%, 0.05) !important;
  border-radius: var(--border-radius) !important;
}


.cm-embed-block.markdown-rendered,
.cm-embed-block .markdown-rendered .callout,
.el-div div[data-callout="warning"],
.el-div div[data-callout="info"] {
 &:hover {
    border-style: dashed;
    border-radius: var(--border-radius) !important;
  }
}

.cm-embed-block .markdown-rendered .callout[data-callout="info"],
.el-div .callout[data-callout="info"] {
  border-color: #223041 !important;
  border: 1px solid var(--color-dark-gray) !important;
}

.cm-embed-block.markdown-rendered .markdown-embed-link {
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

/* dataview toolbars */
.plugin-tasks-toolbar {
  display: flex important;
  align-items: center;
  position: relative;

  label {
    padding-top: 0.3rem;
    height: 1.5rem;
    display: flex;
    align-items: flex-end;
    /* justify-content: center; */

    svg {
      padding-bottom: 0.25rem;
      width: 1rem;
      height: 1rem;
    }
  }
  button {
   border-radius: 0.5rem;
   padding: 1rem;

  }

  /* filter input boxes */
  input {
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--color-dark-gray);
    padding-top: 0.25rem;
  }
}

/* split resizer handles */
.workspace-split .workspace-leaf-resize-handle {
  border: 0px solid transparent;
  &:hover {
    display: flex;
    background: var(--color-background);
    height: 0.5rem !important;
    justify-content: center;
    align-items: flex-end;
    border: 0px;

    &::after {
      content: "";
      width: 90% !important;
      height: 0.3rem;
      border-radius: 1rem;
      background: var(--color-text);
    }
  }
}